*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    background-color: orangered;
    height: 80px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;

}

nav li{
    line-height: 80px;
    display: inline-block;
    list-style: none;
    margin: 0 10px;
}

img{
    vertical-align: middle;
}

main{
    margin-top: 100px;
}